<div class="grid-container">
    <div class="grid-item left"></div>

    <div class="grid-item right">
        <h1>Get in touch</h1>
        <p>
            Senectus quam neque malesuada nibh scelerisque ridiculus commodo turpis pellentesque, cras metus ad maximus sagittis parturient facilisis quis, himenaeos integer porta duis velit dignissim consequat nec.
        </p>
        <address>
            Contact us via<br>
            <strong>Phone : </strong>
            <a class="phone-mail-link">(+234) 09037257735</a><br>
            <strong>Email : </strong>
            <a class="phone-mail-link">opeoluwaoyedeji06@gmail.com</a>
        </address>

    </div>
</div>
