<nav class="navbar navbar-expand-sm navbar-light" id="navbar">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" routerLink="">Foodle</a>

        <!-- Hambuger collapse button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto ms-auto">
                <!-- looping through navbar links -->
                <a *ngFor="let link of navbarLinks" class="nav-link" [routerLinkActive]="['active']" [routerLink]="[link.routerLink]">{{ link.label }}</a>
            </div>
        </div>

        <!-- Shopping cart icon -->
        <i class="fas fa-shopping-cart" id="cart" (click)="openCartDialog()"></i>
    </div>
</nav>
