<div class="grid-container" id="services">
    <div class="grid-item left">
        <h1>What we do</h1>
        <p class="upper-paragraph">
            Lorem ipsum dolor sit amet consectetur adipiscing elit fringilla lacus eros, lacinia urna curabitur cubilia cursus duis natoque morbi.
        </p>
        <div class="grid-container steps">
            <div class="grid-item step-left">
                <i class="fas fa-mobile-alt"></i>
                <h2>Place Order</h2>
                <p class="step-paragraph">
                    Dapibus mattis a fermentum penatibus hendrerit scelerisque mauris nullam iaculis ultricies eros mus ut, platea tristique porttitor facilisis curae viverra porta tortor tincidunt sagittis nibh
                </p>
            </div>
            <div class="grid-item step-right">
                <i class="fas fa-truck"></i>
                <h2>Pick Up</h2>
                <p class="step-paragraph">
                    Dapibus mattis a fermentum penatibus hendrerit scelerisque mauris nullam iaculis ultricies eros mus ut, platea tristique porttitor facilisis curae viverra porta tortor tincidunt sagittis nibh
                </p>
            </div>
        </div>
    </div>

    <div class="grid-item right"></div>
</div>