$brandRed    : #A84B5D;
$brandYellow : #F6EFA6;
$brandBlack  : #2E2F2F;
$brandBlue   : #759FBC;
$tabletSize  : 1000px;
$cardSpace : 16px;

.container {
    width: 80%;
    justify-content: center;

    .section-divider {
        height: 0;
        border-top: 1px solid $brandBlack;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;

        span {
            color: $brandRed;
            background: white;
            display: inline-block;
            position: relative;
            padding: 0 17px;
            top: -30px;
            font-size: 40px;
        }
    }
  }

.grid-container {
    display: grid;
    grid-gap: $cardSpace;
    grid-template-columns: auto auto auto auto;
    margin: $cardSpace;

    @media (max-width: 768px){
        grid-template-columns: auto;
    }

    .card{
        box-shadow: 0px 2px 5px $brandRed;
        overflow: hidden;
        border-radius: 15px;

        .card-title{
            color: $brandBlack;
            font-weight: bold;
            font-size: 23px;
        }

        .cost{
            color: $brandRed;
            font-weight: 600;
            font-style: italic;
            font-size: 20px;
        }

        .btn{
            border-radius: 5rem;
            font-size: 1rem;
            font-weight: bold;
            color: $brandBlack;
            background-color: $brandRed;
        }

        .btn:hover{
            color: $brandYellow;
            @media only screen and (max-width: $tabletSize){
                color: $brandBlack;
            }
        }
    }
}