<div *ngFor="let section of mealSections">
    <div class="container">
        <div class="section-divider"><span>{{ section.title }}</span></div>
    </div>
    <div class="grid-container">
        <div class="grid-item card" *ngFor="let meal of section.items; let i=index">
            <img [src]=meal.img alt="Breakfast">
            <div class="card-body">
                <h5 class="card-title">{{ meal.name + " " + (i+1)}}</h5>
                <h6 class="cost">{{ meal.cost }}</h6>
                <p class="card-text">{{ meal.content }}</p>
                <button type="button" class="btn btn-color btn-lg" data-bs-toggle="modal" data-bs-target="#myModal1">Add to cart</button>
            </div>
        </div>
    </div>
</div>